<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zn.nanpicturebackend.mapper.PictureLikeMapper">

    <!-- 物理删除点赞记录（无视逻辑删除） -->
    <delete id="physicalDelete">
        DELETE
        FROM picture_like
        WHERE pictureId = #{pictureId}
          AND userId = #{userId}
    </delete>

</mapper>
